In [1]:
#Reading and writing files

In [ ]:
#File reading methods
with open("data.txt", "r") as file:
    lines = file.readlines()
    next_line = file.readline()
    content = file.read()

In [3]:
#File writing methods
lines = ["Hello\n", "World\n"]
with open("output.txt", "w") as file:
    file.writelines(lines)

In [ ]:
#Iterating over lines
with open("data.txt", "r") as file:
    for line in file: 
        print(line)

In [ ]:
#Open() and close()
file = open("data.txt", "r")
content = file.read()
file.close()

In [6]:
#with open()
with open("data.txt", "r") as file:
    content = file.read()

In [7]:
#Pandas

In [ ]:
#.read_excel()
df = pd.read_excel("data.xlsx")

In [ ]:
#.to_csv()
df.to_csv("output.csv", index=False)

#Access Columns

In [ ]:
#Access Column
df["age"]
df[["name", "age"]]

In [ ]:
#describe()
df.describe()

In [ ]:
#drop(): Removes specified rows or columns from the DataFrame. 
#axis=1 indicates columns. axis=0 indicates rows.
df.drop(["age", "salary"], axis=1, inplace=True) # Will drop columns
df.drop(index=[5, 10], axis=0, inplace=True) # Will drop rows

In [ ]:
#dropna():Removes rows with missing NaN values from the DataFrame. 
#axis=0 indicates rows.
df.dropna(axis=0, inplace=True)

In [ ]:
#duplicated()
duplicate_rows = df[df.duplicated()]

In [ ]:
#Filter Rows
filtered_df = df[(df["age"] > 30) & (df["salary"] < 50000)]

In [ ]:
#groupby()
grouped = df.groupby(["category", "region"]).agg({"sales": "sum"})

In [ ]:
#head()
df.head(5)

In [ ]:
#info()

df.info()

In [ ]:
#merge(): Merges two DataFrames based on multiple common columns.
merged_df = pd.merge(sales, products, on=["product_id", "category_id"])

In [ ]:
#print DataFrame
print(df)
df

In [ ]:
#replace(): 	Replaces specific values in a column with new values.

###Numpy